<body id="top">
<div class="site-wrap">
  <!-- HOME -->
  <section class="home-section section-hero bg-image" style="background: url(<%= asset_path @backgroundImage %>);" id="home-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center saika">
            <h1 class="text-white font-weight-bold">サイトであなたの夢の仕事を見つけましょう</h1>
            <p>仕事を探すのが簡単になります</p>
          </div>
          <div style="padding-left: 20%">
          <%=form_with(url: root_path, method: 'get',local: true, class: "search-jobs-form") do |f| %>
            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <%= select_tag 'condition', options_for_select(@conditionOptions.invert), multiple: false , class: "form-control"%>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <%= text_field_tag :searchText , "", class: "form-control form-control-lg"%>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <%=submit_tag '検索', :name => nil, class: "btn btn-primary btn-lg btn-block text-white btn-search"%>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <%if user_signed_in? && current_user.type_user == 1 %>
            <h2 class="section-title mb-2">あなたにおすすめの作業</h2>
              <%if !@searchMessage.nil?%>
                <h2 class="section-title mb-2">検索結果</h2>
                <h3><%=@searchMessage%></h3>
                <%@jobs = @searchResult %>
              <% end  %>
            <% else %>
            <h2 class="section-title mb-2">仕事一覧</h2>
            <%if !@searchResult.nil? and !@searchResult.nil?%>
              <h2 class="section-title mb-2">検索結果</h2>
              <h3><%=@searchMessage%></h3>
              <%@jobs = @searchResult %>
            <% end  %>
          <% end %>
        </div>
      </div>


      <div class="mb-5">
        <%@jobs.each do |job| %>
        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <%= image_tag 'it.jpg', size: "120x100" %>
          </div>
          <div class="col-md-2">
            <%if user_signed_in? %>
            <span class="badge badge-primary px-2 py-1 mb-3"><%=current_user.name%></span>
            <% else %>
              <span class="badge badge-primary px-2 py-1 mb-3"><%=job.name%></span>
            <% end %>
            <h2><%= link_to job.title[0..20], jobs_path(job) %></h2>
            <p class="meta">Deadline: <%= job.deadline %></p>
            <h2 style="font-size: 10px;"><%= link_to 'もっと見る', jobs_path(job) %></h2>
          </div>
          <div class="col-md-2 text-left">
            <h3><%= job.address %></h3>
            <span class="meta">日本</span>
          </div>
          <div class="col-md-2 text-left">
            <% if job.typejob_id ==1 %> <h3>ビジネス</h3> <%end %>
            <% if job.typejob_id ==2 %> <h3>IT</h3> <%end %>
            <% if job.typejob_id ==3 %> <h3>スポーツ</h3> <%end %>
            <% if job.typejob_id ==4 %> <h3>教育</h3> <%end %>
            <% if job.typejob_id ==5 %> <h3>交通機関</h3> <%end %>
          </div>
          <div class="col-md-2s text-md-right">
            <strong class="text-black"><%= job.salary[0..10] %></strong>
          </div>
          <div class="col-md-2">
            <% if job.user_id!=0 %>
              <span class="badge badge-success px-2 py-1 mb-3">担当している人がいる</span>
            <%else %>
              <span class="badge badge-danger px-2 py-1 mb-3">担当している人がいない</span>
            <%end %>
          </div>
          <%if user_signed_in? && current_user.type_user==1%>
            <button type="button" class="btn btn-success">申請</button>
          <% end %>
        </div>
        <% end%>
      </div>

      <div class="row pagination-wrap">

        <div class="col-md-6 text-center text-md-left">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Previous</a>
            <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
</body>
