<body id="top">
<div class="site-wrap">
  <!-- HOME -->
  <section class="home-section section-hero overlay bg-image" style="background: url(<%= asset_path 'hero_1.jpg' %>);" id="home-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">サイトであなたの夢の仕事を見つけましょ</h1>
            <p>仕事を探すのが簡単になります</p>
          </div>
          <form method="post" class="search-jobs-form">
            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <input type="text" class="form-control form-control-lg" placeholder="仕事の名前, キーワード...">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select class="form-control">
                  <option>東京</option>
                  <option>埼玉</option>
                  <option>北海道</option>
                  <option>愛知</option>
                  <option>福岡</option>
                  <option>大坂</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select class="form-control">
                  <option>パートタイム</option>
                  <option>フルタイム</option>
                  <option>フリーランサー</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search">探す</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </section>
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <%if user_signed_in? && current_user.type_user == 1 %>
          <h2 class="section-title mb-2">あなたにおすすめの作業</h2>
          <%else %>
          <h2 class="section-title mb-2">仕事一覧</h2>
        　<% end %>
        </div>
      </div>


      <div class="mb-5">
        <% @jobs.each do |job| %>
        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <%= image_tag 'it.jpg', size: "120x100" %>
          </div>
          <div class="col-md-2">
            <%if user_signed_in? %>
            <span class="badge badge-primary px-2 py-1 mb-3"><%=current_user.name%></span>
            <% else %>
              <span class="badge badge-primary px-2 py-1 mb-3"><%=@user.find(job.company_id).name%></span>
            <% end %>
            <h2><%=job.title %></h2>
            <p class="meta">Deadline: <%= job.deadline %></p>
          </div>
          <div class="col-md-2 text-left">
            <h3><%= job.address %></h3>
            <span class="meta">日本</span>
          </div>
          <div class="col-md-2 text-left">
            <% if job.typejob_id ==1 %> <h3>IT技術</h3> <%end %>
            <% if job.typejob_id ==2 %> <h3>ビジネス</h3> <%end %>
            <% if job.typejob_id ==3 %> <h3>教育</h3> <%end %>
          </div>
          <div class="col-md-2s text-md-right">
            <strong class="text-black"><%= job.salary %>VND</strong>
          </div>
          <div class="col-md-2">
            <% if job.user_id!=0 %>
              <span class="badge badge-success px-2 py-1 mb-3">担当している人がいる</span>
            <%else %>
              <span class="badge badge-danger px-2 py-1 mb-3">担当している人がいない</span>
            <%end %>
          </div>
        </div>
        <%end %>

      </div>

      <div class="row pagination-wrap">

        <div class="col-md-6 text-center text-md-left">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Previous</a>
            <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
</body>
