<section class="home-section overlay bg-image" style="background: url(<%= asset_path 'hero_1.jpg' %>);" id="home-section">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="mb-5 text-center" style="padding-top: 12%">
        <h2 class="text-white font-weight-bold">仕事を登録</h2>

        <%= form_for @job do |f| %>
          <div class="field text-white font-weight-bold">
            <%= f.label :仕事のタイトル %><br />
            <%= f.text_field :title%>
          </div>
          <div class="field text-white font-weight-bold">
            <%= f.label :仕事の内容 %><br />
            <%= f.text_field :describe%>
          </div>

          <div class="field text-white font-weight-bold">
            <%= f.label :期限 %><br />VND
            <%= f.date_field :deadline%>
          </div>
          <div class="field text-white font-weight-bold">
            <%= f.label :コスト %><br />
            <%= f.text_field :salary%>
          </div>
          <div class="field text-white font-weight-bold">
            <%= f.label :アドレス %><br />
            <%= f.text_field :address%>
          </div>
          <div class="field text-white font-weight-bold">
            <%= f.label :仕事の種類 %><br />
            <%= f.select :typejob_id, {IT:1, Business:2, Education:3}%>
          </div>

          <div class="actions text-white font-weight-bold">
            <%= f.submit "仕事を登録" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>